#tela {
    width: 800px;
    height: 400px;
    background: url(./imagens/campo.jpg);
    position: absolute;
    left: 0;
    top: 0;
}

#box {
    width: 100px;
    height: 100px;
    position: absolute;
    background: url(./imagens/bola.png);
    left: 350px;
    top: 150px;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}